body {
    padding-top: 60px; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #FCBF49;
}
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: black;
}

.icon-text .icon-image {
    font-size: 1.5em;
    margin-bottom: 3px;
    width: 30px;
    height: 30px;
}

.icon-text span {
    font-size: 0.8em;
}

.category-link {
    text-decoration: none;
    color: inherit;
}
