.slide-down {
    transition: max-height 1s ease-out;
    max-height: 0;
    overflow:hidden;
}

.table-centered th, .table-centered td {
    text-align: center;
    vertical-align: middle;
}

.img-card {
    flex: 0 1 200px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: transform 0.2s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.img-card:hover {
    transform: scale(1.05); /* Slightly enlarge card on hover */
}

.image-preview {
    object-fit: cover;
    width: 100%;
}